# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Test1.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Vad\Desktop\homework\Programming\C#\Test1\.idea\.idea.Test1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
